        .bgl {
            background-color: #700;
            padding:20px 50px;
            min-height: 400px;
        }

        .bgm {
            background-color: #fc7;
            padding: 10px 50px;
        }

        .bgr {
            background-color: #065;
            padding: 20px 50px;
            min-height: 400px;
        }

        .btn-devour{
            float: right;
            border-radius: 5px;
        }

        h2{
            color: #fff;
            font-family: cursive;
        }

        .img-center{
            margin: 0px auto;
        }
        .order-list{
            background-color:#fe9;
            font-size: 2em;
            color:#555;
        }

 